<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantilla/template :: head}"></head>

<body>
<header th:replace="~{plantilla/template :: header}"></header>

<div class="container">

    <h2 class="titulo"> Auto-Lavado La Primavera</h2>

    <div class="slider-box">
        <ul>
            <li>
                <img th:src="@{/images/1.jpg}" width="800" height="400">
            </li>
            <li>
                <img th:src="@{/images/2.jpg}" width="800" height="400">
            </li>
            <li>
                <img th:src="@{/images/3.jpg}" width="800" height="400">
            </li>
            <li>
                <img th:src="@{/images/5.jpg}" width="800" height="400">
            </li>
        </ul>
    </div>
</div>

<footer th:replace="~{plantilla/template :: footer}"></footer>
</body>
</html>